/*** Sizes and stuff *********************************************************/
$content-width: 900px;
$content-padding: 3em;
$sidebar-width: 350px;

/*** Fonts *******************************************************************/
$mainfont: 'Source Sans Pro', Helvetica, sans-serif;
$background-color: #fdfdfd;
$dark-background-color: #333333;
$primary-color: #333333;
$secondary-background-color: #cccccc;
$purple: #292767;
$dark-purple: #1a1f63;
$light-purple: #535285;
$v-light-purple: #cbcbda;
$light-green: #70d448;
$dark-green: #64be40;
$darker-green: #59a939;
$red: #db3939;
$darker-red: #c53333;
$darkest-red: #832222;
$mustard: #ffa500;

/*** Mixins ******************************************************************/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
