@import 'base';

path { 
  stroke: $light-purple;
  stroke-width: 2;
  fill: none;
}
 
.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.area {
  fill: $v-light-purple;
  stroke-width: 0;
}

.bar {
  fill: $mustard;
}

.bar:hover {
  fill: $red;
}

.x.axis path {
  display: none;
}

circle {
  fill: $light-green;
}

text.circle {
  font: 10px sans-serif;
  fill: $background-color;
}
