@import 'base';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  clear: both;
}

.header {
  position: relative;
  width: 100%;
  padding: 1em 1em 1em 1em;
}

.header-left {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 0px;
}

.header-right {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 0px;
}

.page-content {
  position: relative;
  max-width: $content-width;
  margin: 0 auto;
  padding: $content-padding;
}

.footer {
  position: relative;
  max-width: $content-width;
  margin: 0 auto;
  padding: $content-padding;
}

.flashed-messages {
  position: relative;
  max-width: $content-width;
  margin: 0 auto;
  padding: $content-padding;
  @include border-radius(4px);
  text-align: center;
}

.padded-full-width {
  width: 100%;
  margin: 0 0 2em 0;
  padding: 0;
}

.page-left {
  float: left;
  width: $sidebar-width;
  padding: $content-padding;
}

.page-right {
 margin-left: $sidebar-width;
 padding: $content-padding;
}

