html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  position: relative;
  width: 100%;
  padding: 1em 1em 1em 1em;
}

.header-left {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.header-right {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

.page-content {
  position: relative;
  margin-top: 3em;
}
