@import 'base';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  font-family: $mainfont;
  background-color: $background-color;
  color: $primary-color;
}

/*** Lists *******************************************************************/

ul.header-nav {
  font-size: 0.8em;
  list-style-type: none;
  padding: 0;
}

/*** Links *******************************************************************/

a.header-nav {
  color: $primary-color;
  text-decoration: none;
  padding: 10px;
  border: 1px solid $primary-color;
  @include border-radius(4px);
}

a.header-nav:hover {
  background-color: $secondary-bg;
}
 
/*** Forms *******************************************************************/
label.login {
  display: block;
  width: 500px;
  margin: 0 auto;
  padding: 0.5em 0 0.5em 0;
}

input.login {
  display: block;
  width: 500px;
  margin: 0 auto;
  height: 3em;
  margin-bottom: 1em;
  @include border-radius(4px);
}
