@import 'base';
@import url(https://fonts.googleapis.com/css?family=Arvo:700|Source+Sans+Pro:400,700);

/*** General body text stuff *************************************************/
body {
  font-family: $mainfont;
  background-color: $background-color;
  color: $primary-color;
  line-height: 1.5;
}

.flashed-messages {
  color: $light-green;
}

.footer {
  font-size: 0.9em;
}

/*** Headings ****************************************************************/
h1.landing-heading {
  font-size: 4em;
  line-height: 1;
}

/*** Links *******************************************************************/
a {
  color: $purple;
}

a:hover {
  color: $light-purple;
}

a.home-nav {
  font-family: $seriffont;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.5em;
}

a.nav-btn {
  color: $purple;
  text-decoration: none;
  padding: 10px;
  border: 1px solid $purple;
}

a.nav-btn:hover {
  color: $light-purple;
  border: 2px solid $light-purple;
  font-weight: 700em;
}

/*** Lists *******************************************************************/

ul.header-nav {
  font-size: 0.8em;
  list-style-type: none;
  padding: 0;
}

ul.flashed-messages {
  list-style-type: none;
  padding: 0;
}

li.header-nav {
  display: inline;
  padding: 5px;
}

/*** Forms *******************************************************************/
label.login {
  display: block;
  width: 500px;
  margin: 0 auto;
  padding: 0.5em 0 0.5em 0;
}

input.login {
  display: block;
  font-size: 1em;
  background-color: $background-color;
  width: 500px;
  margin: 0 auto;
  height: 3em;
  margin-bottom: 1em;
  border: 2px solid $light-purple;
  transition: border 0.3s;
}

input.login:focus {
  border: 2px solid $dark-purple;
}

.remember-me {
  display: block;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 1em;
}

/*** Buttons *****************************************************************/
.login-btn {
  display: block;
  margin: 0 auto;
  width: 250px;
  text-align: center;
  background-color: $light-green;
  color: $background-color;
  height: 3em;
  border: none;
  font-size: 1em;
}

.login-btn:hover {
  background-color: $dark-green;
}

.login-btn:active {
  background-color: $darker-green;
}
