@import 'base';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

/*** General body text stuff *************************************************/
body {
  font-family: $mainfont;
  background-color: $background-color;
  color: $primary-color;
}

.flashed-messages {
  color: $light-green;
}

.footer {
  font-size: 0.9em;
}

/*** Headings ****************************************************************/
h1.landing-heading {
  font-size: 4em;
}

/*** Links *******************************************************************/
a {
  color: $purple;
}

a:hover {
  color: $light-purple;
}

/*** Lists *******************************************************************/

ul.header-nav {
  font-size: 0.8em;
  list-style-type: none;
  padding: 0;
}

ul.flashed-messages {
  list-style-type: none;
  padding: 0;
}

/*** Links *******************************************************************/

a.header-nav {
  color: $primary-color;
  text-decoration: none;
  padding: 10px;
  border: 1px solid $primary-color;
  @include border-radius(4px);
}

a.header-nav:hover {
  background-color: $secondary-background-color;
}
 
/*** Forms *******************************************************************/
label.login {
  display: block;
  width: 500px;
  margin: 0 auto;
  padding: 0.5em 0 0.5em 0;
}

input.login {
  display: block;
  width: 500px;
  margin: 0 auto;
  height: 3em;
  margin-bottom: 1em;
  @include border-radius(4px);
}
