/*** Sizes and stuff *********************************************************/
/*** Fonts *******************************************************************/
/*** Mixins ******************************************************************/

/*** Sizes and stuff *********************************************************/
/*** Fonts *******************************************************************/
/*** Mixins ******************************************************************/
/* line 3 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9 */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15 */
.container {
  width: 100%;
  clear: both;
}

/* line 20 */
.header {
  position: relative;
  width: 100%;
  padding: 1em 1em 1em 1em;
}

/* line 26 */
.header-left {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 0px;
}

/* line 33 */
.header-right {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 0px;
}

/* line 40 */
.page-content {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 3em;
}

/* line 47 */
.footer {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 3em;
}

/* line 54 */
.flashed-messages {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 3em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
}

/* line 63 */
.padded-full-width {
  width: 100%;
  margin: 0 0 2em 0;
  padding: 0;
}

/* line 69 */
.page-left {
  float: left;
  width: 350px;
  padding: 3em;
}

/* line 75 */
.page-right {
  margin-left: 350px;
  padding: 3em;
}

/*** Sizes and stuff *********************************************************/
/*** Fonts *******************************************************************/
/*** Mixins ******************************************************************/
@import url(https://fonts.googleapis.com/css?family=Arvo:700|Source+Sans+Pro:400,700);
/*** General body text stuff *************************************************/
/* line 5 */
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  background-color: #fdfdfd;
  color: #333333;
  line-height: 1.5;
}

/* line 12 */
.flashed-messages {
  color: #70d448;
}

/* line 16 */
.footer {
  font-size: 0.9em;
}

/* line 20 */
.strong {
  font-weight: 700;
}

/*** Headings ****************************************************************/
/* line 25 */
h1.landing-heading {
  font-size: 4em;
  line-height: 1;
}

/* line 30 */
h2.side-nav {
  font-size: 1.2em;
  font-weight: 700;
  background-color: #535285;
  color: #fdfdfd;
  padding: 1em;
}

/*** Links *******************************************************************/
/* line 39 */
a {
  color: #292767;
}

/* line 43 */
a:hover {
  color: #535285;
}

/* line 47 */
a.home-nav {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

/* line 54 */
a.nav-btn {
  color: #292767;
  text-decoration: none;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  /*  border: 1px solid $purple;*/
}

/* line 63 */
a.nav-btn:hover {
  color: #535285;
}

/* line 67 */
a.side-nav {
  text-decoration: none;
}

/*** Lists *******************************************************************/
/* line 73 */
ul.header-nav {
  font-size: 0.8em;
  list-style-type: none;
  padding: 0;
}

/* line 79 */
ul.flashed-messages {
  list-style-type: none;
  padding: 0;
}

/* line 84 */
li.header-nav {
  display: inline;
  padding: 5px;
}

/* line 89 */
ul.side-nav {
  margin-top: -1em;
  list-style-type: none;
  padding: 1em;
  border: 1px solid #535285;
}

/* line 96 */
li.side-nav {
  padding: 5px;
}

/*** Forms *******************************************************************/
/* line 101 */
label.login, label.form-left {
  display: block;
  width: 500px;
  padding: 0.5em 0 0.5em 0;
}

/* line 107 */
label.login {
  margin: 0 auto;
}

/* line 111 */
input.login, input.form-left {
  display: block;
  font-size: 1em;
  background-color: #fdfdfd;
  width: 500px;
  height: 3em;
  margin-bottom: 1em;
  border: 2px solid #535285;
  transition: border 0.3s;
}

/* line 122 */
input.login {
  margin: 0 auto;
}

/* line 126 */
input:focus {
  border: 2px solid #1a1f63;
}

/* line 130 */
.checkbox, .remember-me {
  display: block;
  width: 500px;
  margin-bottom: 1em;
}

/* line 136 */
.remember-me {
  margin: 0 auto;
}

/*** Buttons *****************************************************************/
/* line 141 */
.login-btn, .left-button {
  display: block;
  width: 250px;
  text-align: center;
  background-color: #70d448;
  color: #fdfdfd;
  height: 3em;
  border: none;
  font-size: 1em;
}

/* line 152 */
.login-btn {
  margin: 0 auto;
}

/* line 156 */
.login-btn:hover, .left-button:hover {
  background-color: #64be40;
}

/* line 160 */
.login-btn:active, .left-button:active {
  background-color: #59a939;
}

/* line 164 */
.red-btn {
  background-color: #db3939;
}

/* line 168 */
.red-btn:hover {
  background-color: #c53333;
}

/* line 172 */
.red-btn:active {
  background-color: #832222;
}

/*** Sizes and stuff *********************************************************/
/*** Fonts *******************************************************************/
/*** Mixins ******************************************************************/
/* line 3 */
path {
  stroke: #535285;
  stroke-width: 2;
  fill: none;
}

/* line 9 */
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

/* line 17 */
.area {
  fill: #cbcbda;
  stroke-width: 0;
}
