/*** Sizes and stuff *********************************************************/
/*** Fonts *******************************************************************/
/*** Mixins ******************************************************************/

/*** Sizes and stuff *********************************************************/
/*** Fonts *******************************************************************/
/*** Mixins ******************************************************************/
/* line 3 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9 */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15 */
.container {
  width: 100%;
}

/* line 19 */
.header {
  position: relative;
  width: 100%;
  padding: 1em 1em 1em 1em;
}

/* line 25 */
.header-left {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 32 */
.header-right {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 39 */
.page-content {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 3em;
}

/* line 46 */
.footer {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 3em;
}

/* line 53 */
.flashed-messages {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 3em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
}

/*** Sizes and stuff *********************************************************/
/*** Fonts *******************************************************************/
/*** Mixins ******************************************************************/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
/*** General body text stuff *************************************************/
/* line 5 */
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  background-color: #fdfdfd;
  color: #333333;
  line-height: 1.5;
}

/* line 12 */
.flashed-messages {
  color: #70d448;
}

/* line 16 */
.footer {
  font-size: 0.9em;
}

/*** Headings ****************************************************************/
/* line 21 */
h1.landing-heading {
  font-size: 4em;
  line-height: 1;
}

/*** Links *******************************************************************/
/* line 27 */
a {
  color: #292767;
}

/* line 31 */
a:hover {
  color: #535285;
}

/* line 35 */
a.home-nav {
  font-size: 2em;
}

/*** Lists *******************************************************************/
/* line 41 */
ul.header-nav {
  font-size: 0.8em;
  list-style-type: none;
  padding: 0;
}

/* line 47 */
ul.flashed-messages {
  list-style-type: none;
  padding: 0;
}

/* line 52 */
li.header-nav {
  display: inline;
  padding: 5px;
}

/*** Links *******************************************************************/
/* line 59 */
a.nav-btn {
  color: #333333;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #333333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

/* line 67 */
a.nav-btn:hover {
  border: 2px solid #333333;
  font-weight: 700em;
}

/*** Forms *******************************************************************/
/* line 73 */
label.login {
  display: block;
  width: 500px;
  margin: 0 auto;
  padding: 0.5em 0 0.5em 0;
}

/* line 80 */
input.login {
  display: block;
  font-size: 1em;
  background-color: #fdfdfd;
  width: 500px;
  margin: 0 auto;
  height: 3em;
  margin-bottom: 1em;
  border: 2px solid #535285;
  transition: border 0.3s;
}

/* line 92 */
input.login:focus {
  border: 2px solid #1a1f63;
}

/* line 96 */
.remember-me {
  display: block;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 1em;
}

/*** Buttons *****************************************************************/
/* line 104 */
.login-btn {
  display: block;
  margin: 0 auto;
  width: 250px;
  text-align: center;
  background-color: #70d448;
  color: #fdfdfd;
  height: 3em;
  border: none;
  font-size: 1em;
}

/* line 116 */
.login-btn:hover {
  background-color: #64be40;
}

/* line 120 */
.login-btn:active {
  background-color: #59a939;
}
