<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock %}</title>
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
  </head>
  <body>

    {% block navigation %}
    <div class="header">
      <div class="header-left">
        <ul class="header-nav">
          <li class="header-nav"><a href="" class="header-nav">+</a></li>
        </ul>
      </div>
      <div class="header-right">
        <ul class="header-nav">
          {% if current_user.is_authenticated %}
          <li class="header-nav"><a href="{{ url_for('auth.logout') }}" class="header-nav">Log out</a></li>
          {% else %}
          <li class="header-nav"><a href="{{ url_for('auth.login') }}" class="header-nav">Sign in</a></li>
          {% endif %}
        </ul>
      </div>
      {% endblock %}

      {% block flashed_messages %}
      <div class="flashed-messages">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashed-messages">
          {% for message in messages %}
          <li class="flashed-message">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      </div>
      {% endblock %}

      <div class="page-content">
        {% block page_content %}
        {% endblock %}
      </div>
  </body>
</html>
