<div class="header">
  <div class="header-left">
    <ul class="header-nav">
      <li class="header-nav"><a href="{{ url_for('main.root') }}" class="home-nav"><i class="fa fa-book"></i> Today I read&hellip;</a></li>
    </ul>
  </div>
  <div class="header-right">
    <ul class="header-nav">
      {% if current_user.is_authenticated %}
      <li class="header-nav"><a href="{{ url_for('main.add_reading_session') }}" class="nav-btn"><i class="fa fa-plus"></i></a></li>
      <li class="header-nav"><a href="" class="nav-btn"><i class="fa fa-cog"></i></a></li>
      <li class="header-nav"><a href="{{ url_for('auth.logout') }}" class="nav-btn">Log out</a></li>
      {% else %}
      <li class="header-nav"><a href="{{ url_for('auth.login') }}" class="nav-btn">Sign in</a></li>
      {% endif %}
    </ul>
  </div>
</div>

