{% extends 'base.html' %}

{% block page_title %}Log in{% endblock %}

{% block page_content %}
<form action="{{ url_for('auth.login') }}" method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}
  {{ form.email.label(class="login") }} {{ form.email(class="login") }}
  {{ form.password.label(class="login") }} {{ form.password(class="login") }}
  {{ form.remember_me.label(class="login") }} {{ form.remember_me(class="login") }}
  {{ form.submit(class="login") }}
</form>
  
{% endblock %}

